<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css" >
    <title>BOO'd UP!</title>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="images/ghostIcon.png">
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <h4><a class="navbar-brand" href="#">BOO'd UP<br><img src="images/ghostIcon.png" alt="ghost"></a></h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" tabindex="-1" href="#" target="_blank">Ghosting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" tabindex="-1" href="#" target="_blank">BOOfiles</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pricing
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" target="_blank">Basic Boo</a>
                    <a class="dropdown-item" href="#" target="_blank">Bougie Boo</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" target="_blank">Spooktacular Boo</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container mt-5 border border-3 border-light">
    <br>
    <h1>Personal Information</h1>
    <hr>
    <form action="profile2" method="post">
        <div class="row g-0">
            <!-- Left Side -->
            <div class="col-md-8" id="left">
                <!-- First Name -->
                <div class="form-group">
                    <label for="firstName"><strong>First Name</strong></label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Sarah">
                </div>
                <!-- Last Name -->
                <div class="form-group">
                    <label for="lastName"><strong>Last Name</strong></label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Smith">
                </div>
                <!-- Age -->
                <div class="form-group">
                    <label for="age"><strong>Age</strong></label>
                    <input type="text" class="form-control" id="age" name="age" placeholder="30">
                </div>
                <!-- Gender Radios -->
                <label><strong>Gender</strong></label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="genderRadios" id="male" value="male">
                    <label class="form-check-label" for="male"><strong>Male</strong></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="genderRadios" id="female" value="female">
                    <label class="form-check-label" for="female"><strong>Female</strong></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="genderRadios" id="non-binary" value="non-binary">
                    <label class="form-check-label" for="non-binary"><strong>Non-Binary</strong></label>
                </div>
                <br><br>
                <!-- Phone Number -->
                <div class="form-group">
                    <label for="phone"><strong>Phone Number</strong></label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="555-867-5309">
                </div>
            </div>
            <!-- Right Side -->
            <div class="col-md-4" id="right">
                <div class="card" >
                    <div class="card-body text-center">
                        <p><strong>Note:</strong> All information entered in protected by our <a href>privacy policy</a>.
                            Profile information can only be viewed by others with your permission.
                        </p>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
        <button class="btn btn-primary btn-lg float-right" type="submit">Next ></button>
        <br>
    </form>
    <br><br>
</div>
<br>
<br>
<br>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>