<!--Heather Monatt
   February 10th, 2021
   This is my profile summary page - displays info entered from previous pages-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css" >
    <title>BOO'd UP!</title>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="images/ghostIcon.png">
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <h4><a class="navbar-brand" href="http://www.hmonatt.greenriverdev.com/328/dating/">BOO'd UP<br><img src="images/ghostIcon.png" alt="ghost"></a></h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" tabindex="-1" href="#" target="_blank">Ghosting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" tabindex="-1" href="#" target="_blank">BOOfiles</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pricing
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" target="_blank">Basic Boo</a>
                    <a class="dropdown-item" href="#" target="_blank">Bougie Boo</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" target="_blank">Spooktacular Boo</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container mt-5 border border-3 border-light rounded">
    <br>
    <div class="row g-0">
        <!-- Left Side -->
        <div class="col-md-6" id="summaryList">
            <ul class="list-group">
                <li class="list-group-item"><strong>Name: {{ @SESSION.membership->getFName() }} {{ @SESSION.membership->getLName() }}</strong></li>
                <li class="list-group-item"><strong>Gender: {{ @SESSION.membership->getGender() }}</strong></li>
                <li class="list-group-item"><strong>Age: {{ @SESSION.membership->getAge() }}</strong></li>
                <li class="list-group-item"><strong>Phone: {{ @SESSION.membership->getPhone() }}</strong></li>
                <li class="list-group-item"><strong>Email: {{ @SESSION.membership->getEmail() }}</strong></li>
                <li class="list-group-item"><strong>State: {{ @SESSION.membership->getState() }}</strong></li>
                <li class="list-group-item"><strong>Seeking: {{ @SESSION.membership->getSeeking() }}</strong></li>
                <check if="{{ @SESSION.membership instanceof PremiumMember }}">
                    <li class="list-group-item"><strong>Interests: </strong>
                        <repeat group="{{ @SESSION.membership->getIndoorInterests() }}" value="{{ @indoor }}">
                        </repeat>
                        <repeat group="{{ @SESSION.membership->getOutdoorInterests() }}" value="{{ @outdoorInterest }}">

                        </repeat>
                    </li>
                </check>
            </ul>
        </div>
        <!-- Right Side -->
        <div class="col-md-6">
            <!-- Profile Image -->
            <img class="img-fluid mb-5 mx-auto d-none d-md-block rounded" src="images/ghostProfile.png" alt="ghostProfile">
            <!-- Bio -->
            <label id="bioLabel"><strong>Biography</strong></label>
            <div id="bioBlurb" class="text-center">
                <h6>{{ ucfirst(@SESSION.membership->getBio()) }}</h6>
                <br>
            </div>
        </div>
        <br>
        <br>
    </div>
    <!-- Button -->
    <div class="text-center">
        <a class="btn btn-primary btn-lg">Contact Me!</a>
    </div>
    <br>
</div>
<br>
<br>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>