.navbar {

    background-color: hotpink;
    top: 0; /* Position the navbar at the top of the page */


}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: hotpink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
}

/** Navbar **/
.navbar a:hover {
    background: black;
    color: hotpink;

}

.img{
    position: center;
}


body{
    background-color: black;
    margin: 0 150px;
}

.btn{
   position: center;
}

/*.navbar{
    background-color: #FF69B4;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
*/

h5:hover{
    color: hotpink;
}

/** h1 and h3 Elements **/
h1, h3 {
    color: hotpink;
    text-align: center;
    padding-right: 150px;
}

#main{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 150px;
}

#left{
    padding-left: 150px;
    padding-right: 50px;
}

#right{
    padding-left: 50px;
    padding-right: 150px;
}

@media only screen and (max-width: 768px) {
    /* For tablets: */
    .linkOne {
        margin: 5px;
    }

    .linkOne {
        padding: 5px 10px;
    }
}