
/* Navbar */
.navbar {

    background-color: hotpink;
    top: 0; /* Position the navbar at the top of the page */
    color: black;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-weight: bolder;
}

/* Navbar Link Hover */
.navbar a:hover {
    background: hotpink;
    color: black;

}

/* Dropdown Menu Background Color */
.dropdown-menu{
    background-color: white;
}

/* Body */
body{
    background-color: black;
    margin: 0 150px;
}

/* h1 Elements */
h1 {
    color: deeppink;
    padding-left: 20px;
}

/* h2 Elements */
h2 {
    color: hotpink;
    text-align: center;
    padding-right: 150px;

}

/* h3 Elements */
h3{
    color: hotpink;
    text-align: center;
}

/* h4 Elements */
h4{
    color: pink;
}

/* h5 Elements */
h5{
    color: deeppink;
    text-align: center;
}

/* h6 Elements */
h6{
    color: red;
}

/* Error messages */
span{
    color: red;
    margin-left: 20px;
}

/* Labels */
label{
    color: deeppink;
    font-size: large;
}

/* Input positioning */
input{
    margin-left: 20px;
}

#error{
    color: red;
}

/* Summary List */
#summaryList{
    padding-left: 70px;
}

/* Label Positioning */
#ageLabel, #fnameLabel, #lnameLabel, #genderLabel, #phoneLabel, #emailLabel,
#stateLabel, #seekingLabel, #membershipLabel{
    padding-left: 20px;
}

/* Label Positioning */
#bioLabel{
    padding-left: 90px;
}

/* Biography */
#bioBlurb{
    padding-left: 90px;
    padding-right: 20px;
}

/* Radio Div*/
#radios{
    padding-left: 20px;
}

/* Indoor Interest Checkmarks */
#indoorChecks{
    padding-left: 50px;
}

/* Outdoor Interest Checkmarks */
#outdoorChecks{
    padding-left: 50px;
}

/* Membership Checkmark */
#memberCheckBox{
    padding-left: 20px;
}

/* State div */
#stateSelect{
    padding-left: 20px;
}

/* Indoor Interest labels */
#indoorActs{
    padding-top: 20px;
    padding-left: 30px;
}

/* Outdoor Interest labels */
#outdoorActs{
    padding-top: 20px;
    padding-left: 30px;
}

/* Testimonials - Blockquotes */
#testimonial1, #testimonial2, #testimonial3{
    color: red;
}

/* Line Color */
hr{
    background-color: pink;
}

th, td {
    color: hotpink;
}

/* Main Div */
#main{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 150px;
}

/* Left Div */
#left{
    padding-left: 10px;
    padding-right: 30px;
}

/* Right Div */
#right{
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 30px;

}

/* Left2 Div */
#left2{
    padding-left: 10px;
    padding-right: 30px;
}

/* Right2 Div */
#right2{
    padding-left: 10px;
    padding-right: 30px;

}

/* Right3 Div */
#right3{
    padding-right: 20px;
    padding-bottom: 30px;
}

/* Button Div */
#buttonDiv{
    padding-right: 10px;
}

@media only screen and (max-width: 768px) {
    /* For tablets: */
    .linkOne {
        margin: 5px;
    }

    .linkOne {
        padding: 5px 10px;
    }
}